<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="air">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Air</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="water">
      <ion-icon name="water"></ion-icon>
      <ion-label>Water</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
        <ion-icon name="albums"></ion-icon>
        <ion-label>Feed</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
          <ion-icon name="contact"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
