<ion-header>
  <ion-toolbar>
    <ion-title>air</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <h4 class="word"><b>India</b> 53</h4>
        <ion-label><h4><b>Low Air Quality</b></h4></ion-label> 
      </ion-card>

      <ion-card>
        <h4><b>Remedies</b></h4>
        <ion-card-content>
          <p>1. Use craft supplies in well-ventilated areas</p>
          <p>2. Remove carpeting if possible</p>
          <p>3. Use a dehumidifier and/or air conditioner to reduce noisture</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <h4 class="wor"><b>Pollutant_Responsible</b> pm25</h4>
        <ion-card-content>
          Fine particles can penetrate into the lungs and bloodstream. Short term exposure can cause irritation of the airways, coughing and aggravation of heart and lung diseases, expressed as difficulty breathing, heart attacks and even premature death.
        </ion-card-content>
      </ion-card>

      <ion-card>
          <h4><b>health_recommendations</b></h4>
          <ion-card-content>
            <p>1. If you start to feel respiratory discomfort such as coughing or breathing difficulties, consider reducing the intensity of your outdoor activities. Try to limit the time you spend near busy roads and industrial emission stacks</p>
            <p>2. To keep you and your baby healthy, consider reducing the intensity of your outdoor activities. Try to limit the time you spend near busy roads, construction sites, industrial emission stacks, open fires and other sources of smoke</p>
            <p>3. Reduce the intensity of your outdoor activities. Keep relevant medication(s) available and consult a doctor with any questions.</p>
          </ion-card-content>
        </ion-card>
</ion-content>
