<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Water</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
          <h6><b>AMBA AT D/S OF WAKEN BRIDGE-<br>U\/S OF JS PETROCHEMICALS,<br> WAKENPHATA, ROHA</b> <div class="wqi">24</div></h6> 
        </ion-card>
  
      <ion-card>
          <h6><b>BHATSA AT D/S OF PISE DAM NEAR<br> PISE VILLAGE (ULHAS)</b> <div class="wqi">24</div></h6> 
        </ion-card>
  
      <ion-card>
          <h6><b>BHATSA AT D/S OF LIBERTY OIL<br>MILLS, SATNEL, SHAHAPUR,THANE</b> <div class="wqi">24</div></h6> 
        </ion-card>
  
      <ion-card>
          <h6><b>BHATSA AT U/S OF LIBERTY OIL<br>MILLS, SATNEL, SHAHAPUR,THANE</b> <div class="wqi">24</div></h6> 
        </ion-card>
  
      <ion-card>
          <h6><b>BHATSA AT U/S OF LIBERTY OIL<br>MILLS, SATNEL, SHAHAPUR,THANE</b> <div class="wqi">24</div></h6> 
        </ion-card>
  
      <ion-card>
          <h6><b>KALU AT ATALE VILLAGE<br></b> <div class="wqi">24</div></h6> 
        </ion-card>
  
        <ion-card>
          <h6><b>KAN RIVER, NEAR SAKRI WATER<br>WORKS, SAKRI, DHULE</b> <div class="wqi">24</div></h6> 
        </ion-card>
  
      <ion-card>
          <h6><b>KUNDALIKA AT ROHA CITY<br></b> <div class="wqi">24</div></h6> 
        </ion-card>
        
  </ion-content>
  