<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<img src="https://img.icons8.com/cute-clipart/170/000000/approximately-equal.png">
  
  <ion-content padding class="bg">
	  <ion-list>
  
		  <ion-item>
			<ion-label position="floating">Username</ion-label>
			<ion-input type="text" [(ngModel)]="username"></ion-input>
		  </ion-item>
		
		  <ion-item>
			<ion-label position="floating">Password</ion-label>
			<ion-input type="password" [(ngModel)]="password"></ion-input>
		  </ion-item>

		  <ion-item>
			<ion-label position="floating">Confirm Password</ion-label>
			<ion-input type="password" [(ngModel)]="cpassword"></ion-input>
		  </ion-item>
		
		</ion-list>
  
		<ion-button fill="solid" expand="block" (click)="register()">Signup</ion-button>
		<div class="newuser">
			Existing User?<ion-button fill="solid" class="goTo" (click)="goTo()">LogIn</ion-button>
		</div>
  </ion-content>
